/* PC */
@media(min-width: 1em){
}

/* Tablet & mobile */
@media(max-width: 0.9990234375em)
{
    #nav .subnav a{
        padding: 5px 12px;
    }

    .btn{
        padding: 15px 16px;
    }

    .contact-form .form-control{
        padding: 15px;
    }

    .contact-info{
        line-height: 2;
    }

    .contact-submit-btn{
        font-size: 16px;
    }

    #footer .social-list{
        font-size: 32px;
    }

    #footer .social-list a {
        margin: 0 8px;
    }

    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }
}

/* Tablet */
@media(min-width: 0.72265625em) and (max-width: 0.9990234375em){
}

/* Mobile */
@media(max-width: 0.7216796875em){

    .s-full-width,
    .s-col-full{
        width: 100% !important;
    }

    .s-mt-8{
        margin-top: 8px !important;
    }

    #header{
        overflow: hidden;
    }

    #header .mobile-menu-btn{
        display: block;
    }

    #header .search-btn {
        display: none;
    }

    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav li a{
        padding: 1px 24px;
    }
    
    #nav > li:first-child{
        display: inline-block;
    }

    #nav .subnav{
        position: initial;
        background-color: #333;
    }
    
    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
        padding: 0 12px;
        line-height: 38px;
    }

    #content .member-avatar{
        width: 60%;
    }

    .contact-form{
        margin-top: 32px;
    }
}

